<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Postal Calculator</title>

    <style>
        body {background-color: tan;}            
    </style>
</head>


<body>
  <h2>Postal Calculator</h2>
    <form action="/getRate" method="get">
        <label>Weight of the item:</label>
        <input type="number" name="weight"><br>      
        <label> Quantity:</label>
        <input type="number" name="quantity"><br>
        <label> Type of Mail:</label>

        <select name="mail">
            <option value="Letters Stamped">Letters (Stamped)</option>
            <option value="Letters Metered">Letters (Metered)</option>
            <option value="Large Envelopes Flats">Large Envelopes (Flats)</option>
            <option value="First Class Package Service">First-Class Package Service — Retail</option>
        </select>  <br>     
            <input type="submit" value="Get Rate">        
    </form>
</body>

</html>