<!DOCTYPE html>
<html>
    <head>
        <title>Result</title>
    </head>

    <body>
        <h1>Shipping Cost</h1>
        <p>To send a quantity of <%= quantity %> <%= mail %> of <%= weight %> Ounces will cost: $<%= price %></p>
    </body>
</html>